<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="/" class="simple-text">
            Zikmu
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="/admin">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/admin/music">
                    <i class="material-icons">person</i>
                    <p>Musiques</p>
                </a>
            </li>
            <li>
                <a href="/admin/groupes">
                    <i class="material-icons">content_paste</i>
                    <p>Groupes</p>
                </a>
            </li>
            <li>
                <a href="/admin/styles">
                    <i class="material-icons">library_books</i>
                    <p>Styles</p>
                </a>
            </li>
            <li>
                <a href="/admin/users">
                    <i class="material-icons">bubble_chart</i>
                    <p>Utilisateurs</p>
                </a>
            </li>
            <li>
                <a href="./maps.html">
                    <i class="material-icons">location_on</i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="./notifications.html">
                    <i class="material-icons text-gray">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>
